@font-face {
    font-family: BarlowCondensed;
     src: url("assets/fonts/BarlowCondensed-LightItalic.ttf");
   }
   body{
    font-family:BarlowCondensed;
   }
* {
    margin: 0;
    padding: 0;
   }
